<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>

    .receiver{
        text-align: left;
        color: gray;
    }
    .sender{
        text-align: right;
        color: blue;
    }
</style>
<body>
    <p>CHAT WITH {{ .receiver.Name }} {{ $receiverID := .receiver.ID}}</p>
    <div id="messages">
        {{ range .messages}}
            {{ if eq .SenderID  $receiverID}}
            <p class="receiver">{{ .Body }} </p>
            {{ else }}
            <p class="sender">{{ .Body }} </p>
            {{ end }}
            <!-- <p>{{ .Date }} </p>
            <p>{{ .SenderID }} </p> -->
        {{ end }}
    </div>
    <input type="text" placeholder="message" id="msg">
    <button onclick="sendMsg()">send msg</button>
</body>
<script>
    let RId = Number(location.href.split("/")[4]);
    let ws = new WebSocket("ws://localhost:8081/ws/chat");
    let msg = document.getElementById("msg");
    let messages = document.getElementById("messages");

    ws.onmessage = function(e) {
        console.log(e.data)
        let jsonData = JSON.parse(e.data);
        console.log(jsonData.sender_id);
        if (jsonData.sender_id === Number(RId)) {
            messages.innerHTML += `<p class="receiver"> ${jsonData.body}</p>`;
        } else if (jsonData.receiver_id === Number(RId)) {
            messages.innerHTML += `<p class="sender"> ${jsonData.body}</p>`;
        } else {
            console.log("new message received...");
        }
    }
    function sendMsg() {
        var data = {
            "receiver_id":  RId,
            "body": msg.value
        }
        if (ws.readyState === 1) {
            ws.send(JSON.stringify(data));
            msg.value = "";
        } else {
            alert("echec de connection, merci d'actualiser la page");
        }
    }
</script>
</html>