<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <title>Login</title>
</head>
<body>
    <h1 class="center">LOGIN ON CHIC-CHAT</h1>
    <p id="info"></p>
    <div>
        <form id="login">
            <input id="log-email" placeholder="email" type="text">
            <input id="log-password" placeholder="password" type="password">
            <button>login</button>
        </form>
    </div>
</body>
<script src="/static/js/login.js"></script>
</html>